html {
  font-size: 10px;
}

head {
  text-align: left;
}

table {
  table-layout: fixed;
}

.head-td {
  padding-left: 20px
}

body {
  background-color: #DAEFEC;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5rem;
}

.info {
  font-family: 'BioRhyme Expanded', serif;
  color: #660000;
  margin: 0 0;
}

.info-2 {
  font-family: 'Cutive Mono', monospace;
  padding-top: 10px;
  margin: 0 0 50px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #507676;
  border-width: 5px;
  width: 8%;
}

h1 {
  color: #006666;
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  font-size: 85px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  color: #207979;
  font-family: 'BioRhyme Expanded', serif;
  font-size: 2rem;
}

p {
  font-family: 'Bentham', serif;
  color: #518E85;
  font-size: 18px;
}

ul {
  color: #518E85;
}

a {
  color: #51798E;
}

ol {
  color: #518E85;
}

table {
  color: #518E85;
}

.contact-heading {
  margin-top: 150px;
  font-size: 85px;
}

.contact-body {
  margin-left: 50px;
  text-align: center;
  color: #207979;
}
.contact-ul {
  display: inline-block;
  text-align: left;
}
